### PARA ANALIZAR EN TABLEAU LOS EMMYS

In [3]:
import matplotlib.pyplot as plt
import pandas as pd 
import seaborn as sns
import numpy as np
pd.set_option("display.max_columns", None)

In [4]:
df = pd.read_csv("Dataset/the_emmy_awards.csv") # dataset de kaggle

In [5]:
df # junto este df con el mÃ­o

,id,year,category,nominee,staff,company,producer,win
0,1,2019,Outstanding Character Voice-Over Performance,The Simpsons,"Hank Azaria, as Moe, Carl, Duffman, Kirk",FOX,Gracie Films in association with 20th Century ...,False
1,2,2019,Outstanding Character Voice-Over Performance,Family Guy,"Alex Borstein, as Lois Griffin, Tricia Takanawa",FOX,20th Century Fox Television,False
2,3,2019,Outstanding Character Voice-Over Performance,When You Wish Upon A Pickle: A Sesame Street S...,"Eric Jacobson, as Bert, Grover, Oscar",HBO,Sesame Street Workshop,False
3,4,2019,Outstanding Character Voice-Over Performance,F Is For Family,"Kevin Michael Richardson, as Rosie",Netflix,Wild West Television in association with Gaumo...,False
4,5,2019,Outstanding Production Design For A Narrative ...,Escape At Dannemora,"Mark Ricker, Production Designer; James Truesd...",Showtime,"Red Hour, Busyhands, The White Mountain Compan...",False
...,...,...,...,...,...,...,...,...
21498,21499,1949,MOST POPULAR TELEVISION PROGRAM,Don Lee Music Hall,"n/a,",KTSL,NaN,False
21499,21500,1949,MOST POPULAR TELEVISION PROGRAM,Felix De Cola Show,"n/a,",KTLA,NaN,False
21500,21501,1949,SPECIAL AWARD,Louis McManus For His Original Design of the Emmy,"n/a,",NaN,NaN,True
21501,21502,1949,STATION AWARD,KTLA for Outstanding overall achievement in 1948,"n/a,",KTLA,NaN,True
21502,21503,1949,TECHNICAL AWARD,Charles Mesak/Don Lee TV for Phasefader - In R...,"n/a,",NaN,NaN,True

In [6]:
nulls_data = []

# Iteramos sobre las columnas para calcular el porcentaje de valores nulos
for column in df.columns:
    null_percentage = df[column].isna().sum() / len(df[column])  # Calculamos el porcentaje de nulos
    nulls_data.append([column, null_percentage])  # Almacenamos el resultado

# Convertimos la lista en un DataFrame
nulls_df = pd.DataFrame(nulls_data, columns=['Columna', 'Porcentaje de Nulos'])

In [7]:
nulls_df

    Columna  Porcentaje de Nulos
0        id             0.000000
1      year             0.000000
2  category             0.000000
3   nominee             0.007255
4     staff             0.002697
5   company             0.016928
6  producer             0.631168
7       win             0.000000

In [8]:
# eliminamos los nulls de las series
df.dropna(subset= ["nominee"], inplace=True)

In [9]:
print(df["nominee"].isna().sum())  # Verificar nuevamente cuÃ¡ntos nulos quedan en la columna "nominee"

0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21347 entries, 0 to 21502
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        21347 non-null  int64
 1   year      21347 non-null  int64
 2   category  21347 non-null  object
 3   nominee   21347 non-null  object
 4   staff     21289 non-null  object
 5   company   20983 non-null  object
 6   producer  7931 non-null   object
 7   win       21347 non-null  bool
dtypes: bool(1), int64(2), object(5)
memory usage: 1.3+ MB

In [11]:
df["Title"] = df["nominee"].str.lower().str.strip()

In [12]:
df

,id,year,category,nominee,staff,company,producer,win,Title
0,1,2019,Outstanding Character Voice-Over Performance,The Simpsons,"Hank Azaria, as Moe, Carl, Duffman, Kirk",FOX,Gracie Films in association with 20th Century ...,False,the simpsons
1,2,2019,Outstanding Character Voice-Over Performance,Family Guy,"Alex Borstein, as Lois Griffin, Tricia Takanawa",FOX,20th Century Fox Television,False,family guy
2,3,2019,Outstanding Character Voice-Over Performance,When You Wish Upon A Pickle: A Sesame Street S...,"Eric Jacobson, as Bert, Grover, Oscar",HBO,Sesame Street Workshop,False,when you wish upon a pickle: a sesame street s...
3,4,2019,Outstanding Character Voice-Over Performance,F Is For Family,"Kevin Michael Richardson, as Rosie",Netflix,Wild West Television in association with Gaumo...,False,f is for family
4,5,2019,Outstanding Production Design For A Narrative ...,Escape At Dannemora,"Mark Ricker, Production Designer; James Truesd...",Showtime,"Red Hour, Busyhands, The White Mountain Compan...",False,escape at dannemora
...,...,...,...,...,...,...,...,...,...
21498,21499,1949,MOST POPULAR TELEVISION PROGRAM,Don Lee Music Hall,"n/a,",KTSL,NaN,False,don lee music hall
21499,21500,1949,MOST POPULAR TELEVISION PROGRAM,Felix De Cola Show,"n/a,",KTLA,NaN,False,felix de cola show
21500,21501,1949,SPECIAL AWARD,Louis McManus For His Original Design of the Emmy,"n/a,",NaN,NaN,True,louis mcmanus for his original design of the emmy
21501,21502,1949,STATION AWARD,KTLA for Outstanding overall achievement in 1948,"n/a,",KTLA,NaN,True,ktla for outstanding overall achievement in 1948
21502,21503,1949,TECHNICAL AWARD,Charles Mesak/Don Lee TV for Phasefader - In R...,"n/a,",NaN,NaN,True,charles mesak/don lee tv for phasefader - in r...

In [13]:
# aÃ±ado una columna que es 1 si ha sido nominado y 0 si no ha sido nominada

In [14]:
df["nominada"]= 1

In [15]:
df

,id,year,category,nominee,staff,company,producer,win,Title,nominada
0,1,2019,Outstanding Character Voice-Over Performance,The Simpsons,"Hank Azaria, as Moe, Carl, Duffman, Kirk",FOX,Gracie Films in association with 20th Century ...,False,the simpsons,1
1,2,2019,Outstanding Character Voice-Over Performance,Family Guy,"Alex Borstein, as Lois Griffin, Tricia Takanawa",FOX,20th Century Fox Television,False,family guy,1
2,3,2019,Outstanding Character Voice-Over Performance,When You Wish Upon A Pickle: A Sesame Street S...,"Eric Jacobson, as Bert, Grover, Oscar",HBO,Sesame Street Workshop,False,when you wish upon a pickle: a sesame street s...,1
3,4,2019,Outstanding Character Voice-Over Performance,F Is For Family,"Kevin Michael Richardson, as Rosie",Netflix,Wild West Television in association with Gaumo...,False,f is for family,1
4,5,2019,Outstanding Production Design For A Narrative ...,Escape At Dannemora,"Mark Ricker, Production Designer; James Truesd...",Showtime,"Red Hour, Busyhands, The White Mountain Compan...",False,escape at dannemora,1
...,...,...,...,...,...,...,...,...,...,...
21498,21499,1949,MOST POPULAR TELEVISION PROGRAM,Don Lee Music Hall,"n/a,",KTSL,NaN,False,don lee music hall,1
21499,21500,1949,MOST POPULAR TELEVISION PROGRAM,Felix De Cola Show,"n/a,",KTLA,NaN,False,felix de cola show,1
21500,21501,1949,SPECIAL AWARD,Louis McManus For His Original Design of the Emmy,"n/a,",NaN,NaN,True,louis mcmanus for his original design of the emmy,1
21501,21502,1949,STATION AWARD,KTLA for Outstanding overall achievement in 1948,"n/a,",KTLA,NaN,True,ktla for outstanding overall achievement in 1948,1
21502,21503,1949,TECHNICAL AWARD,Charles Mesak/Don Lee TV for Phasefader - In R...,"n/a,",NaN,NaN,True,charles mesak/don lee tv for phasefader - in r...,1

In [16]:
df[df["nominee"]== "Arrested Development"]

,id,year,category,nominee,staff,company,producer,win,Title,nominada
3801,3802,2013,Outstanding Lead Actor In A Comedy Series,Arrested Development,"Jason Bateman, as Michael Bluth",Netflix,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
4119,4120,2013,Outstanding Music Composition For A Series (Or...,Arrested Development,"David Schwartz,",Netflix,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
4172,4173,2013,Outstanding Single-camera Picture Editing For ...,Arrested Development,"Kabir Akhtar, ; A.J. Dickerson,",Netflix,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
7438,7439,2006,Outstanding Supporting Actor In A Comedy Series,Arrested Development,"Will Arnett, as Gob Bluth",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
7449,7450,2006,Outstanding Writing for a Comedy Series,Arrested Development,"Richard Day, Story by; Mitchell Hurwitz, Story...",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
7460,7461,2006,Outstanding Comedy Series,Arrested Development,"John Amodeo, Supervising Producer; Richard Day...",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
7749,7750,2006,Outstanding Single-camera Picture Editing For ...,Arrested Development,"Stuart Bass, A.C.E.",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
7890,7891,2005,Outstanding Lead Actor In A Comedy Series,Arrested Development,"Jason Bateman, as Michael Bluth",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
7896,7897,2005,Outstanding Supporting Actress In A Comedy Series,Arrested Development,"Jessica Walter, as Lucille Bluth",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
7902,7903,2005,Outstanding Supporting Actor In A Comedy Series,Arrested Development,"Jeffrey Tambor, as George Bluth Sr.",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
7915,7916,2005,Outstanding Writing for a Comedy Series,Arrested Development,"Barbie Adler, Writer",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
7917,7918,2005,Outstanding Writing for a Comedy Series,Arrested Development,"Brad Copeland, Writer",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
7918,7919,2005,Outstanding Writing for a Comedy Series,Arrested Development,"Mitchell Hurwitz, Writer; Jim Vallely, Writer",FOX,Produced by Imagine TV and 20th Century Fox Te...,True,arrested development,1
7927,7928,2005,Outstanding Comedy Series,Arrested Development,"Barbie Adler, Supervising Producer; John Amode...",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
8019,8020,2005,Outstanding Casting For A Comedy Series,Arrested Development,"Allison Jones, Casting by",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
8197,8198,2005,Outstanding Single-camera Picture Editing For ...,Arrested Development,"ROBERT BRAMWELL, Editor",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
8198,8199,2005,Outstanding Single-camera Picture Editing For ...,Arrested Development,"Steven Sprung,",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
8199,8200,2005,Outstanding Single-camera Picture Editing For ...,Arrested Development,"Richard Candib, Editor",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
8353,8354,2004,Outstanding Supporting Actor In A Comedy Series,Arrested Development,"Jeffrey Tambor, as George Bluth, Sr.",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
8368,8369,2004,Outstanding Writing for a Comedy Series,Arrested Development,"Mitchell Hurwitz, Writer",FOX,Produced by Imagine TV and 20th Century Fox Te...,True,arrested development,1
8377,8378,2004,Outstanding Directing For A Comedy Series,Arrested Development,"Joe Russo, Director; Anthony Russo, Director",FOX,Produced by Imagine TV and 20th Century Fox Te...,True,arrested development,1
8378,8379,2004,Outstanding Comedy Series,Arrested Development,"Barbie Adler, ; Brian Grazer, Executive Produc...",FOX,Produced by Imagine TV and 20th Century Fox Te...,True,arrested development,1
8453,8454,2004,Outstanding Art Direction For A Multi-Camera S...,Arrested Development,"Ellen Brill, S.D.S.A.; Charisse Cardenas, Art ...",FOX,Produced by Imagine TV and 20th Century Fox Te...,False,arrested development,1
8467,8468,2004,Outstanding Casting For A Comedy Series,Arrested Development,"Deborah Barylski, Casting by; Geraldine Leder,...",FOX,Produced by Imagine TV and 20th Century Fox Te...,True,arrested development,1
8643,8644,2004,Outstanding Single-camera Picture Editing For ...,Arrested Development,"E. Lee Haxall, Editor",FOX,Produced by Imagine TV and 20th Century Fox Te...,True,arrested development,1

In [17]:
df[df["win"] == False]["company"].unique() # hay demasiados valores, no creo la vaya a usar

array(['FOX', 'HBO', 'Netflix', 'Showtime', 'BBC America', 'Prime Video',
       'NBC', 'truTV', 'CBS', 'ABC', 'FX Networks', 'Hulu', 'CNN', nan,
       'Pop TV', 'IFC', 'Comedy Central', 'VH1', 'Discovery Channel',
       'National Geographic', 'TBS', 'Cinemax', 'BET Networks', 'CW',
       'AMC', 'CBS (CBS All Access)', 'PBS', 'Acorn TV',
       'anemmyformegan.com', 'FunnyOrDie', 'YouTube', 'A&E', 'Lifetime',
       'Food Network', 'TLC', 'Bravo', 'YouTube Premium', 'NBC (YouTube)',
       'Vimeo', 'Windows Mixed Reality', 'HQ Trivia App', 'Adult Swim',
       'Nickelodeon', 'Cartoon Network', 'Disney Channel', 'ESPN',
       'Oculus', 'Disney XD', 'TNT', 'Starz',
       'Google Spotlight Stories App', 'PlayStation VR App', 'USA',
       'HISTORY', 'Paramount Network', 'Stage13.com', 'Facebook.com',
       'theaccidentalwolf.com', 'Nat Geo WILD', 'TOPIC.com',
       'ABC (abc.go.com)', 'AMC (amc.com)',
       'Comedy Central (thedailyshow.com)', 'NBC (nbc.com)',
       'Bravo (bravotv.com)', 'HGTV', 'Disney XD App', 'Amazon',
       'TBS (samanthabee.com)', 'iOS', 'The Huffington Post / You Tube',
       'play.google.com', 'E! News Mobile App', 'Facebook Live',
       'standup2cancer.org', 'CBS All Access', 'ABC (ABCd/ABC.com)',
       'go90', 'Comic-Con HQ', 'tellofilms.com', 'Open TV',
       'Comedy Central (cc.com)', 'FX Networks (fxnetworks.com)',
       'arts.gov', 'Spike TV', 'Viceland', 'FunnyOrDie.com', 'BET.com',
       'Crackle', 'TV Land', 'National Geographic Channel', 'Logo',
       'LouisCK.net', 'Hallmark Channel', 'ComedyCentral.com', 'time.com',
       'NBC.com', 'AOL', 'SundanceTV', 'Amazon Instant Video', 'Yahoo',
       'EW.com', 'Animal Planet', 'PBS/Pivot', 'FOX/NatGeo', 'OWN',
       'Sundance Channel', 'Crackle.com', 'History.com', 'E!', 'NGC',
       'ABC/CBS/NBC', 'Bravotv.com', 'HBO.com', 'AMCTV.com',
       'TeamCoco.com', 'NatGeoTV.com', 'Machinima.com',
       'cartoonnetwork.com', 'ReelzChannel', 'Syfy', 'thedailyshow.com',
       'Yahoo.com', 'jaylenosgarage.com', 'DirecTV', 'Travel Channel',
       'MTV', 'TeenNick', 'whatstrending.com', 'EPIX', 'GMC',
       'lstudio.com', 'TCM', 'BIO', 'Fox.com', 'ABC.com', 'TBS.com',
       'FUSE', 'Fox Movie Channel', 'EPIXHD', 'BET', 'Showtime.com',
       'Syndicated', 'abc.com/lost', 'SyFy.com', 'Sci Fi Channel',
       'Biography Channel', 'Warner Bros. on demand', 'History Channel',
       'Discovery.com', 'Oxygen', 'Hallmark', 'The History Channel',
       'Disney', 'ESPN2', 'WB', 'UPN', 'Toon Disney',
       'Lifetime Television', 'Sci Fi', 'STARZ!', 'NICK', 'SHO', 'COM',
       'TOON', 'NIC', 'TECH', 'AP', 'ODY', 'SYN', 'BRV', 'HIST', 'DISC',
       'DSC', 'NIK', 'DIS', 'LIF', 'STZ', 'CTN', 'SCI', 'MAX', 'FAM',
       'BRA', 'TNN', 'WBN', 'NPT', 'TDC', 'FBC', 'OPT', 'BS', 'BC',
       'POOL COVERAGE', 'NETWORKPOOLCOV.', 'NET', 'CBS & NBC', 'CBAS',
       'ABC & CBS', 'ABC-CBS-NBCPOOL', 'NBC, CBS', 'ALL', 'DUMONT',
       'ABC, CBS, NBC, DUMON', 'KNBH', 'KTTV', 'KNBH, NBC', 'KTLA',
       'KTTV, CBS', 'KFI-TV', 'KECA-TV', 'KTSL', 'KLAC'], dtype=object)

In [18]:
df["company"].nunique() # hay demasiados valores 243

243

In [19]:
# elimino las columnas que creo que no me harÃ¡n falta
df.drop(columns = ["id", "year", "category", "nominee", "staff", "company", "producer"], inplace = True)

In [20]:
df["Title"].nunique() # hay 5546 series unicas / el df tiene 21347 filas (muchas series han ganados varias veces)

5546

In [21]:
df[df['win'] == True].groupby('Title').size().reset_index(name='Num_Wins').sort_values(by=["Num_Wins"], ascending=False)
# han ganado 2048 series

                                                  Title  Num_Wins
1292                                saturday night live        66
603                                     game of thrones        59
585                                             frasier        37
1791                                       the simpsons        31
1701                          the mary tyler moore show        29
...                                                 ...       ...
427               david copperfield - 15 years of magic         1
429                                         davis rules         1
1140  opening ceremony of the xvi pan american games...         1
1139             one last hug: three days at grief camp         1
0                         alice cooper - the nightmare         1

[2048 rows x 2 columns]

In [22]:
df[df['nominada'] == True].groupby('Title').size().reset_index(name='Num_Nominees').sort_values(by=["Num_Nominees"], ascending=False)
# han ganado 2048 series

                                 Title  Num_Nominees
3594               saturday night live           254
1737                   game of thrones           160
1521                                er           123
2687                           mad men           116
988                             cheers           112
...                                ...           ...
2378              kaiser aluminum hour             1
2379                       kane & abel             1
2381                      kate mcshane             1
2382  katharine hepburn:  all about me             1
2773                       masterclass             1

[5546 rows x 2 columns]

In [23]:
df[df["Title"]== "game of thrones"][["Title", "win", "nominada"]]

                Title    win  nominada
8     game of thrones  False         1
38    game of thrones  False         1
69    game of thrones  False         1
70    game of thrones  False         1
71    game of thrones  False         1
...               ...    ...       ...
5187  game of thrones  False         1
5239  game of thrones  False         1
5276  game of thrones  False         1
5322  game of thrones  False         1
5324  game of thrones  False         1

[160 rows x 3 columns]

In [24]:
df[(df["Title"]== "game of thrones")& (df["win"]==True)]

       win            Title  nominada
579   True  game of thrones         1
583   True  game of thrones         1
584   True  game of thrones         1
588   True  game of thrones         1
594   True  game of thrones         1
599   True  game of thrones         1
603   True  game of thrones         1
607   True  game of thrones         1
610   True  game of thrones         1
612   True  game of thrones         1
658   True  game of thrones         1
665   True  game of thrones         1
701   True  game of thrones         1
930   True  game of thrones         1
933   True  game of thrones         1
1008  True  game of thrones         1
1081  True  game of thrones         1
1191  True  game of thrones         1
1216  True  game of thrones         1
1232  True  game of thrones         1
1309  True  game of thrones         1
2026  True  game of thrones         1
2094  True  game of thrones         1
2112  True  game of thrones         1
2150  True  game of thrones         1
2275  True  game of thrones         1
2339  True  game of thrones         1
2365  True  game of thrones         1
2401  True  game of thrones         1
2429  True  game of thrones         1
2454  True  game of thrones         1
2474  True  game of thrones         1
2562  True  game of thrones         1
2624  True  game of thrones         1
2701  True  game of thrones         1
2713  True  game of thrones         1
2733  True  game of thrones         1
2758  True  game of thrones         1
2772  True  game of thrones         1
2788  True  game of thrones         1
2845  True  game of thrones         1
2904  True  game of thrones         1
3032  True  game of thrones         1
3071  True  game of thrones         1
3149  True  game of thrones         1
3439  True  game of thrones         1
3558  True  game of thrones         1
3679  True  game of thrones         1
3707  True  game of thrones         1
4100  True  game of thrones         1
4243  True  game of thrones         1
4527  True  game of thrones         1
4595  True  game of thrones         1
4652  True  game of thrones         1
4741  True  game of thrones         1
4756  True  game of thrones         1
4791  True  game of thrones         1
4858  True  game of thrones         1
5173  True  game of thrones         1

In [25]:
df[df["Title"]== "breaking bad"][["Title", "win"]]

             Title    win
3203  breaking bad   True
3209  breaking bad   True
3215  breaking bad   True
3233  breaking bad   True
3234  breaking bad  False
3239  breaking bad  False
3244  breaking bad   True
3398  breaking bad  False
3425  breaking bad  False
3495  breaking bad  False
3557  breaking bad  False
3576  breaking bad  False
3577  breaking bad   True
3578  breaking bad  False
3594  breaking bad  False
3607  breaking bad  False
3745  breaking bad  False
3752  breaking bad   True
3758  breaking bad  False
3759  breaking bad  False
3774  breaking bad  False
3775  breaking bad  False
3782  breaking bad  False
3784  breaking bad   True
3989  breaking bad  False
4173  breaking bad  False
4175  breaking bad   True
4190  breaking bad  False
4204  breaking bad  False
4307  breaking bad  False
4312  breaking bad  False
4317  breaking bad  False
4322  breaking bad   True
4329  breaking bad  False
4340  breaking bad  False
4345  breaking bad  False
4565  breaking bad  False
4722  breaking bad  False
4723  breaking bad  False
4738  breaking bad  False
4752  breaking bad  False
4797  breaking bad  False
5369  breaking bad   True
5380  breaking bad   True
5406  breaking bad  False
5410  breaking bad  False
5619  breaking bad  False
5792  breaking bad  False
5805  breaking bad  False
5899  breaking bad   True
5911  breaking bad  False
5938  breaking bad  False
6143  breaking bad  False
6304  breaking bad   True
6421  breaking bad   True
6453  breaking bad  False
6643  breaking bad  False
6802  breaking bad   True

In [26]:
# nos quedamos con la serie una sola vez, una columna que me diga si ha sido nominada, cuantas veces y una columna que me dice si ha ganado y otra que me dice cuantos
# Filtramos las filas donde ha ganado un Emmy (win = True)
df_win= df[df["win"] == True]

# Contamos cuÃ¡ntas veces ha sido nominada cada serie (sin duplicados por aÃ±o)
df_nominada_count = df.groupby("Title").size().reset_index(name="num_nominaciones")

# Contamos los Emmys ganados por cada serie (sin duplicados por aÃ±o)
df_emmy_count = df_win.groupby("Title").size().reset_index(name="num_emmys")

# Hacemos el merge con el DataFrame original para agregar la cantidad total de Emmys y nominaciones por serie
df_final = pd.merge(df, df_nominada_count, on="Title", how="left")
df_final = pd.merge(df_final, df_emmy_count, on="Title", how="left")

# Si no ha ganado ningÃºn Emmy, ponemos 0 en la columna "Cantidad_Emmys"
df_final["num_emmys"] = df_final["num_emmys"].fillna(0)

# Crear la columna "win" para indicar si la serie ha ganado un Emmy en algÃºn aÃ±o
df_final["win"] = df_final["num_emmys"] > 0

# resultado final sin duplicados
df_emmy = df_final[["Title","num_nominaciones", "win", "num_emmys"]].drop_duplicates()

In [27]:
df_emmy["Title"].nunique()

5546

In [28]:
df_emmy[df_emmy["Title"] == "breaking bad"]

             Title  num_nominaciones   win  num_emmys
3203  breaking bad                58  True       16.0

In [29]:
df_emmy[df_emmy["Title"] == "friends"]

        Title  num_nominaciones   win  num_emmys
8340  friends                62  True        6.0

In [30]:
df_emmy["win"].value_counts()

win
False    3498
True     2048
Name: count, dtype: int64

In [31]:
df_emmy[df_emmy.duplicated(subset= "Title", keep=False)] # no hay duplicados

Empty DataFrame
Columns: [Title, num_nominaciones, win, num_emmys]
Index: []

In [32]:
df_emmy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5546 entries, 0 to 21346
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Title             5546 non-null   object
 1   num_nominaciones  5546 non-null   int64
 2   win               5546 non-null   bool
 3   num_emmys         5546 non-null   float64
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 178.7+ KB

In [33]:
# convertimos a int
df_emmy["num_emmys"] = df_emmy["num_emmys"].astype(int)

In [34]:
df_emmy[df_emmy["Title"]== "arrested development"]

                     Title  num_nominaciones   win  num_emmys
3801  arrested development                25  True          6

# JUNTAMOS EL DF DE LOS EMMYS CON MI DF DE SERIES

In [35]:
df2 = pd.read_csv("Dataset/df_analisis_actores.csv", sep="@")

In [36]:
df2["Title"]= df2["Title"].str.lower()

In [37]:
df2.set_index("Unnamed: 0", inplace=True)

In [38]:
# de mi df2 cojo solo las series que tienen Origin Country US (los emmys solo son de USA)
df2 = df2[df2["Origin Country"]== "United States"]
len(df2)

14005

In [39]:
df2

,Title,Synopsis,Genero,Rating,Popularity,Vote Count,Original Language,Origin Country,First Air Date,In production,Status,Number of Season,Number of Episodes,Episode Duration,Cast,Poster,Trailer,release_year
Unnamed: 0,,,,,,,,,,,,,,,,,,
28,tmz,"Based on the popular gossip website, this ente...",Comedy,4.368,1288,19.0,English,United States,2007-09-10,True,Returning Series,5,672,30.0,Harvey Levin,https://image.tmdb.org/t/p/w500/ifFpUG51DJaQxw...,https://www.youtube.com/watch?v=8rz0iZjWaB8,2007
28,tmz,"Based on the popular gossip website, this ente...",Entertainment,4.368,1288,19.0,English,United States,2007-09-10,True,Returning Series,5,672,30.0,Harvey Levin,https://image.tmdb.org/t/p/w500/ifFpUG51DJaQxw...,https://www.youtube.com/watch?v=8rz0iZjWaB8,2007
33,the chew,The Chew is an American talk show/cooking show...,Entertainment,5.500,1204,6.0,English,United States,2011-09-26,False,Ended,7,1229,60.0,Carla Hall,https://image.tmdb.org/t/p/w500/soaMbHCYzcCwG1...,No trailer available,2011
33,the chew,The Chew is an American talk show/cooking show...,Entertainment,5.500,1204,6.0,English,United States,2011-09-26,False,Ended,7,1229,60.0,Clinton Kelly,https://image.tmdb.org/t/p/w500/soaMbHCYzcCwG1...,No trailer available,2011
33,the chew,The Chew is an American talk show/cooking show...,Entertainment,5.500,1204,6.0,English,United States,2011-09-26,False,Ended,7,1229,60.0,Michael Symon,https://image.tmdb.org/t/p/w500/soaMbHCYzcCwG1...,No trailer available,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Joshua R. Pangborn,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015
9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Johnathan Cerio,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015
9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Ashley Monique Menard,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015
9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Paul Antzoulis,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015
9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Stuart Kiczek,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015

In [40]:
df2[df2.duplicated(subset= ["Title", "Genero", "Cast"], keep=False)] # hay 69 duplicados

,Title,Synopsis,Genero,Rating,Popularity,Vote Count,Original Language,Origin Country,First Air Date,In production,Status,Number of Season,Number of Episodes,Episode Duration,Cast,Poster,Trailer,release_year
Unnamed: 0,,,,,,,,,,,,,,,,,,
40,american idol,"Each year, hopeful singers from all over the c...",Entertainment,5.078,1127,160.0,English,United States,2002-06-11,False,Ended,15,567,85.0,Ryan Seacrest,https://image.tmdb.org/t/p/w500/8zrIAq3IPuRHSN...,No trailer available,2002
271,animaniacs,The two Warner Brothers Yakko and Wakko and th...,Comedy,8.000,505,708.0,English,United States,1993-09-13,False,Ended,5,275,23.0,Rob Paulsen,https://image.tmdb.org/t/p/w500/c1b2UtrhbMOdHK...,https://www.youtube.com/watch?v=BgiZuRUTIlA,1993
271,animaniacs,The two Warner Brothers Yakko and Wakko and th...,Comedy,8.000,505,708.0,English,United States,1993-09-13,False,Ended,5,275,23.0,Jess Harnell,https://image.tmdb.org/t/p/w500/c1b2UtrhbMOdHK...,https://www.youtube.com/watch?v=BgiZuRUTIlA,1993
271,animaniacs,The two Warner Brothers Yakko and Wakko and th...,Comedy,8.000,505,708.0,English,United States,1993-09-13,False,Ended,5,275,23.0,Tress MacNeille,https://image.tmdb.org/t/p/w500/c1b2UtrhbMOdHK...,https://www.youtube.com/watch?v=BgiZuRUTIlA,1993
271,animaniacs,The two Warner Brothers Yakko and Wakko and th...,Comedy,8.000,505,708.0,English,United States,1993-09-13,False,Ended,5,275,23.0,Maurice LaMarche,https://image.tmdb.org/t/p/w500/c1b2UtrhbMOdHK...,https://www.youtube.com/watch?v=BgiZuRUTIlA,1993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7559,icarly,Ten years after signing off of one of TV's mos...,Family,7.652,55,779.0,English,United States,2021-06-17,False,Canceled,3,33,NaN,Miranda Cosgrove,https://image.tmdb.org/t/p/w500/tM4P2RNIIFzFJi...,https://www.youtube.com/watch?v=7NKVThOGLXc,2021
7559,icarly,Ten years after signing off of one of TV's mos...,Family,7.652,55,779.0,English,United States,2021-06-17,False,Canceled,3,33,NaN,Jerry Trainor,https://image.tmdb.org/t/p/w500/tM4P2RNIIFzFJi...,https://www.youtube.com/watch?v=7NKVThOGLXc,2021
7559,icarly,Ten years after signing off of one of TV's mos...,Family,7.652,55,779.0,English,United States,2021-06-17,False,Canceled,3,33,NaN,Nathan Kress,https://image.tmdb.org/t/p/w500/tM4P2RNIIFzFJi...,https://www.youtube.com/watch?v=7NKVThOGLXc,2021
8308,web therapy,Fiona Wallice is a therapist with little patie...,Comedy,6.966,51,29.0,English,United States,2011-07-19,False,Canceled,4,43,25.0,Lisa Kudrow,https://image.tmdb.org/t/p/w500/9LD7OvTYYCuDAE...,No trailer available,2011
9097,night court,"Unapologetically optimistic judge Abby Stone, ...",Comedy,6.600,47,38.0,English,United States,2023-01-17,True,Returning Series,3,38,22.0,John Larroquette,https://image.tmdb.org/t/p/w500/aDgsyosno3aKCi...,https://www.youtube.com/watch?v=MEOeJEFKs0E,2023

In [41]:
df2 = df2.drop_duplicates(subset= ["Title", "Genero", "Cast"],  keep="first") # me quedo con los primeros

In [42]:
df2 = df2.reset_index()  # Convierte el Ã­ndice actual en una columna llamada 'index'

In [43]:
df2.rename(columns={"Unnamed: 0": "nuevo_indice"}, inplace=True)

In [44]:
# quiero juntar el df de los emmys con mi df2 original
df_merged = pd.merge(df2, df_emmy, on="Title", how="left")

In [45]:
df_merged

,nuevo_indice,Title,Synopsis,Genero,Rating,Popularity,Vote Count,Original Language,Origin Country,First Air Date,In production,Status,Number of Season,Number of Episodes,Episode Duration,Cast,Poster,Trailer,release_year,num_nominaciones,win,num_emmys
0,28,tmz,"Based on the popular gossip website, this ente...",Comedy,4.368,1288,19.0,English,United States,2007-09-10,True,Returning Series,5,672,30.0,Harvey Levin,https://image.tmdb.org/t/p/w500/ifFpUG51DJaQxw...,https://www.youtube.com/watch?v=8rz0iZjWaB8,2007,NaN,NaN,NaN
1,28,tmz,"Based on the popular gossip website, this ente...",Entertainment,4.368,1288,19.0,English,United States,2007-09-10,True,Returning Series,5,672,30.0,Harvey Levin,https://image.tmdb.org/t/p/w500/ifFpUG51DJaQxw...,https://www.youtube.com/watch?v=8rz0iZjWaB8,2007,NaN,NaN,NaN
2,33,the chew,The Chew is an American talk show/cooking show...,Entertainment,5.500,1204,6.0,English,United States,2011-09-26,False,Ended,7,1229,60.0,Carla Hall,https://image.tmdb.org/t/p/w500/soaMbHCYzcCwG1...,No trailer available,2011,NaN,NaN,NaN
3,33,the chew,The Chew is an American talk show/cooking show...,Entertainment,5.500,1204,6.0,English,United States,2011-09-26,False,Ended,7,1229,60.0,Clinton Kelly,https://image.tmdb.org/t/p/w500/soaMbHCYzcCwG1...,No trailer available,2011,NaN,NaN,NaN
4,33,the chew,The Chew is an American talk show/cooking show...,Entertainment,5.500,1204,6.0,English,United States,2011-09-26,False,Ended,7,1229,60.0,Michael Symon,https://image.tmdb.org/t/p/w500/soaMbHCYzcCwG1...,No trailer available,2011,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13957,9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Joshua R. Pangborn,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015,NaN,NaN,NaN
13958,9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Johnathan Cerio,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015,NaN,NaN,NaN
13959,9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Ashley Monique Menard,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015,NaN,NaN,NaN
13960,9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Paul Antzoulis,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015,NaN,NaN,NaN
13961,9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Stuart Kiczek,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015,NaN,NaN,NaN

In [46]:
df_merged.shape

(13962, 22)

In [47]:
# Checking for null values
nulls = pd.DataFrame(df_merged.isna().sum()/len(df_merged))
nulls= nulls.reset_index()
nulls.columns = ['column_name', 'Percentage Null Values']
nulls.sort_values(by='Percentage Null Values', ascending = False)

           column_name  Percentage Null Values
21           num_emmys                0.661725
20                 win                0.661725
19    num_nominaciones                0.661725
4               Rating                0.013608
6           Vote Count                0.013608
14    Episode Duration                0.012892
2             Synopsis                0.003581
13  Number of Episodes                0.000000
18        release_year                0.000000
17             Trailer                0.000000
16              Poster                0.000000
15                Cast                0.000000
0         nuevo_indice                0.000000
12    Number of Season                0.000000
1                Title                0.000000
10       In production                0.000000
9       First Air Date                0.000000
8       Origin Country                0.000000
7    Original Language                0.000000
5           Popularity                0.000000
3               Genero                0.000000
11              Status                0.000000

In [48]:
df_merged["win"].value_counts(dropna=False)

win
NaN      9239
True     2457
False    2266
Name: count, dtype: int64

In [49]:
df_merged["win"]= df_merged["win"].fillna(False)

/var/folders/2x/t9dxtxdd28d5d8ddpkgy0y200000gq/T/ipykernel_80628/1387186449.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_merged["win"]= df_merged["win"].fillna(False)

In [50]:
df_merged["win"].value_counts(dropna=False)

win
False    11505
True      2457
Name: count, dtype: int64

In [51]:
df_merged["num_nominaciones"].value_counts(dropna=False)

num_nominaciones
NaN     9239
1.0     1071
2.0      630
3.0      416
5.0      247
        ...
32.0       5
95.0       5
69.0       5
91.0       4
60.0       1
Name: count, Length: 78, dtype: int64

In [52]:
df_merged["num_nominaciones"] = df_merged["num_nominaciones"].fillna(0)

In [53]:
df_merged["num_nominaciones"].value_counts(dropna=False)

num_nominaciones
0.0     9239
1.0     1071
2.0      630
3.0      416
5.0      247
        ...
32.0       5
95.0       5
69.0       5
91.0       4
60.0       1
Name: count, Length: 78, dtype: int64

In [54]:
df_merged["num_emmys"]= df_merged["num_emmys"].fillna(0)

In [55]:
df_merged

,nuevo_indice,Title,Synopsis,Genero,Rating,Popularity,Vote Count,Original Language,Origin Country,First Air Date,In production,Status,Number of Season,Number of Episodes,Episode Duration,Cast,Poster,Trailer,release_year,num_nominaciones,win,num_emmys
0,28,tmz,"Based on the popular gossip website, this ente...",Comedy,4.368,1288,19.0,English,United States,2007-09-10,True,Returning Series,5,672,30.0,Harvey Levin,https://image.tmdb.org/t/p/w500/ifFpUG51DJaQxw...,https://www.youtube.com/watch?v=8rz0iZjWaB8,2007,0.0,False,0.0
1,28,tmz,"Based on the popular gossip website, this ente...",Entertainment,4.368,1288,19.0,English,United States,2007-09-10,True,Returning Series,5,672,30.0,Harvey Levin,https://image.tmdb.org/t/p/w500/ifFpUG51DJaQxw...,https://www.youtube.com/watch?v=8rz0iZjWaB8,2007,0.0,False,0.0
2,33,the chew,The Chew is an American talk show/cooking show...,Entertainment,5.500,1204,6.0,English,United States,2011-09-26,False,Ended,7,1229,60.0,Carla Hall,https://image.tmdb.org/t/p/w500/soaMbHCYzcCwG1...,No trailer available,2011,0.0,False,0.0
3,33,the chew,The Chew is an American talk show/cooking show...,Entertainment,5.500,1204,6.0,English,United States,2011-09-26,False,Ended,7,1229,60.0,Clinton Kelly,https://image.tmdb.org/t/p/w500/soaMbHCYzcCwG1...,No trailer available,2011,0.0,False,0.0
4,33,the chew,The Chew is an American talk show/cooking show...,Entertainment,5.500,1204,6.0,English,United States,2011-09-26,False,Ended,7,1229,60.0,Michael Symon,https://image.tmdb.org/t/p/w500/soaMbHCYzcCwG1...,No trailer available,2011,0.0,False,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13957,9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Joshua R. Pangborn,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015,0.0,False,0.0
13958,9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Johnathan Cerio,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015,0.0,False,0.0
13959,9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Ashley Monique Menard,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015,0.0,False,0.0
13960,9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Paul Antzoulis,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015,0.0,False,0.0
13961,9693,skeleton crew,"This is the story of Hunter and Anthony, a bea...",Drama,1.000,44,1.0,English,United States,2015-10-31,True,Returning Series,5,63,30.0,Stuart Kiczek,https://image.tmdb.org/t/p/w500/m4sGXOMMD4YIv6...,No trailer available,2015,0.0,False,0.0

In [56]:
df_merged[df_merged["Title"]== "arrested development"]

,nuevo_indice,Title,Synopsis,Genero,Rating,Popularity,Vote Count,Original Language,Origin Country,First Air Date,In production,Status,Number of Season,Number of Episodes,Episode Duration,Cast,Poster,Trailer,release_year,num_nominaciones,win,num_emmys
3616,2391,arrested development,The story of a wealthy family that lost everyt...,Comedy,7.9,132,1413.0,English,United States,2003-11-02,False,Ended,5,84,22.0,Jason Bateman,https://image.tmdb.org/t/p/w500/p4r4RD7RsNcJVo...,No trailer available,2003,25.0,True,6.0
3617,2391,arrested development,The story of a wealthy family that lost everyt...,Comedy,7.9,132,1413.0,English,United States,2003-11-02,False,Ended,5,84,22.0,Portia de Rossi,https://image.tmdb.org/t/p/w500/p4r4RD7RsNcJVo...,No trailer available,2003,25.0,True,6.0
3618,2391,arrested development,The story of a wealthy family that lost everyt...,Comedy,7.9,132,1413.0,English,United States,2003-11-02,False,Ended,5,84,22.0,Will Arnett,https://image.tmdb.org/t/p/w500/p4r4RD7RsNcJVo...,No trailer available,2003,25.0,True,6.0
3619,2391,arrested development,The story of a wealthy family that lost everyt...,Comedy,7.9,132,1413.0,English,United States,2003-11-02,False,Ended,5,84,22.0,Michael Cera,https://image.tmdb.org/t/p/w500/p4r4RD7RsNcJVo...,No trailer available,2003,25.0,True,6.0
3620,2391,arrested development,The story of a wealthy family that lost everyt...,Comedy,7.9,132,1413.0,English,United States,2003-11-02,False,Ended,5,84,22.0,Alia Shawkat,https://image.tmdb.org/t/p/w500/p4r4RD7RsNcJVo...,No trailer available,2003,25.0,True,6.0

In [57]:
df_merged.to_csv("Dataset/df_analisis_emmy.csv")

In [58]:
df_merged[df_merged["Cast"]== "Aaron Paul"]

,nuevo_indice,Title,Synopsis,Genero,Rating,Popularity,Vote Count,Original Language,Origin Country,First Air Date,In production,Status,Number of Season,Number of Episodes,Episode Duration,Cast,Poster,Trailer,release_year,num_nominaciones,win,num_emmys
162,132,breaking bad,"Walter White, a New Mexico chemistry teacher, ...",Drama,8.900,720,15008.0,English,United States,2008-01-20,False,Ended,5,62,50.0,Aaron Paul,https://image.tmdb.org/t/p/w500/ztkUQFLlC19CCM...,https://www.youtube.com/watch?v=XZ8daibM3AE,2008,58.0,True,16.0
2801,1858,westworld,A dark odyssey about the dawn of artificial co...,Documentary,8.044,156,5583.0,English,United States,2016-10-02,False,Canceled,4,36,60.0,Aaron Paul,https://image.tmdb.org/t/p/w500/8MfgyFHf7XEboZ...,https://www.youtube.com/watch?v=kEkZdgWu7mM,2016,43.0,True,9.0
2806,1858,westworld,A dark odyssey about the dawn of artificial co...,Action & Adventure,8.044,156,5583.0,English,United States,2016-10-02,False,Canceled,4,36,60.0,Aaron Paul,https://image.tmdb.org/t/p/w500/8MfgyFHf7XEboZ...,https://www.youtube.com/watch?v=kEkZdgWu7mM,2016,43.0,True,9.0

In [59]:
# me estÃ¡ contando la suma de los emmy para series que estÃ¡n repetidas, tengo que eliminar las series duplicadas por genero

In [60]:
df_merged2 = df_merged.drop_duplicates(subset= ["Title", "Cast"],  keep="first") # me quedo con los primeros

In [61]:
df_merged2[df_merged2["Cast"]== "Aaron Paul"]

,nuevo_indice,Title,Synopsis,Genero,Rating,Popularity,Vote Count,Original Language,Origin Country,First Air Date,In production,Status,Number of Season,Number of Episodes,Episode Duration,Cast,Poster,Trailer,release_year,num_nominaciones,win,num_emmys
162,132,breaking bad,"Walter White, a New Mexico chemistry teacher, ...",Drama,8.900,720,15008.0,English,United States,2008-01-20,False,Ended,5,62,50.0,Aaron Paul,https://image.tmdb.org/t/p/w500/ztkUQFLlC19CCM...,https://www.youtube.com/watch?v=XZ8daibM3AE,2008,58.0,True,16.0
2801,1858,westworld,A dark odyssey about the dawn of artificial co...,Documentary,8.044,156,5583.0,English,United States,2016-10-02,False,Canceled,4,36,60.0,Aaron Paul,https://image.tmdb.org/t/p/w500/8MfgyFHf7XEboZ...,https://www.youtube.com/watch?v=kEkZdgWu7mM,2016,43.0,True,9.0

In [62]:
df_merged2 = df_merged2[df_merged2["Genero"]!= "Entertainment"]

In [63]:
df_merged2.to_csv("Dataset/df_analisis_emmy_nom_actor.csv")